
body {
    margin:0 auto;
    font-family: helvetica;
}

section {
    background: url("assets/sable1.webp");
    background-size: cover;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    list-style: none;
    align-items: center;
    background-color: png;
}

header #logo {
    position: relative;
    width: 100px;
    height: auto;
}

img {
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Menu de navigation */

nav {
    display: flex;
    list-style: none;
}

nav li {
    color: green;
    display: inline;
    padding-left: 60px;
}

a{
    color: rgb(144, 144, 26);
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}

/* div */

div img {
    position: absolute;
    top: 300px;
    right: 1400px;
    height: 400px;
    width: 400px;
    object-fit: cover;
}

div h1 {
    position: relative;
    left: 100px;
    top: 40px;
    display: inline;
}
