/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

/* Accueil */

.accueil {
    width: 100%;
    height: 100vh;
    background-color: #292a2f;
}
/* Nav */
    
.logo img {
    width: 80px;
    height: auto;
    margin: 45px;
}

.nav {
    background-color: #292a2f;
    display: flex;
}

.nav .barre {
    width: 50%;
    margin: auto;
}
    
.nav .barre ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
    
.nav .barre ul li a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(172, 172, 172);
    font-family: Itim;
    transition: 400ms;
}
    
.nav .barre ul li a:hover {
    color: #cea65f
}

.nav .barre ul li a:active {
    color: #665230
}

/* Contact */

.nav .contact {
    display: flex;
    align-items: center;
}

.nav .contact a {
    display: flex;
    background-color: #cea65f;
    color: #292a2f;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-family: Itim;
    font-size: 25px;
    margin-right: 70px;
    transition: 400ms;
}

.nav .contact a:hover {
    color: #cea65f;
    background-color: rgb(82, 77, 77);
}

.nav .contact a:active {
    background-color: rgb(50, 48, 48);
}

/* Presentation */

.presentation {
    background-color: #292a2f;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation p {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 100px;
    font-family: Prompt;
    font-weight: 800;
    color: #cea65f;
    padding-top: 100px;
    height: 100px;
}

.presentation h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Prompt;
    color: white;
    font-size: 70px;
}

.presentation h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: Prompt;
    color: rgb(172, 172, 172);
}

.presentation a {
    display: flex;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    align-items: center;
    font-family: Itim;
    font-size: 25px;
    margin-right: 70px;
    border: solid;
    border-color: #cea65f;
    margin-left: 60px;
    transition: 400ms;
}

.presentation a:hover {
    background-color: #cea65f;
}

.presentation a:active {
    background-color: #4e4027;
}

/* section profil */

.profil {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* h1 */

.profil .text {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.profil .text h1 {
    color: #cea65f;
    font-family: Prompt;
    font-size: 80px;
}


/* Cases */

.profil .case_1 {
    width: 500px;
    height: 400px;
    background-color: rgb(172, 172, 172);
    margin: 50px;
}

.profil .case_2 {
    width: 500px;
    height: 400px;
    background-color: rgb(172, 172, 172);
    margin: 50px;
}

.profil .case_3 {
    width: 500px;
    height: 400px;
    background-color: rgb(172, 172, 172);
    margin: 50px;
}

.profil .case_4 {
    width: 500px;
    height: 400px;
    background-color: rgb(172, 172, 172);
    margin: 50px;
}