
body {
    margin:0 auto;
    font-family: helvetica;
}

section {
    background: url("assets/sable1.webp");
    background-size: cover;
    height: 100vh; /* Viewport height */
    background-position: center;
    background-size: cover;
}

/* Header */

header {
    display: flex;
    list-style: none;
    align-items: center;
    background-color: png;
}

header #logo {
    position: relative;
    width: 100px;
    height: auto;
}

header #plantes {
    position: absolute;
    top: 0px;
    right: 0px;
}

header h1 {
    position: absolute;
    color:chocolate;
    font-size: 2.5em;
    font-weight: 900;
    left: 120px;
}

/* Nav */

nav {
    display: flex;
    list-style: none;
}

nav li {
    position: relative;
    display: block;
    padding-left: 60px;
    left: 250px;
    font-weight: 600;
    font-size: 1.5em;
}

nav a {
    position: relative;
    display: block;
    margin: 10px auto 0;
    font-size: 25px;
    color:rgb(144, 124, 23);
    padding: 25px 10px;
    background:#ffd17b;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
    text-decoration: none;
}

a:hover{
    box-shadow: 0 4px #efa424;
    top: 2px;
}

a:active {
    box-shadow: 0 0 #efa424;
    top: 6px;
}

div h2 {
    color: lightyellow;
    font-size: 8vh;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 600px;
    font-weight: 900;
}